body {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.8px;
}

.invoice {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 0cm;
  padding-left: 1cm;
  padding-right: 1.5cm;
  padding-bottom: 0.5cm;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.invoice-header {
  text-align: left;
  display: grid;
  margin-bottom: 0.5cm;
  grid-template-columns: 3fr 1fr 1fr 3.5fr;
  grid-gap: 0.5cm;
}

.invoice-header h1 {
  font-size: 20px;
  margin: 0;
}

.col-header-1 {
  grid-column: 1 / span 3;
  padding: 0.1cm;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.col-header-2 {
  grid-column: 4; /* Menempati 3 kolom yang sama dengan .col-header-1 */
  border: 1px solid Black;
  padding: 0.4cm;
  display: flex;
  grid-template-columns: auto auto;
}

.col-ket-1 {
  grid-column: 2;
}

.col-ket-2 {
  grid-column: 2;
}

.col-header-3 {
  grid-column: 1 / span 4;
  border: 1px solid Black;
  min-width: 350px;
  max-width: 380px;
  padding: 0.1cm;
  text-align: left;
  align-self: flex-start;
  position: relative;
}

.ket-inv-1 {
  grid-column: 2;
  border: 1px solid Black;
  padding: 0.1cm;
  display: flex;
  align-items: flex-start;
}

.ket-inv-2 {
  grid-column: 2;
  border: 1px solid Black;
  padding: 0.1cm;
  display: flex;
  align-items: flex-start;
}

.invoice-body {
  margin-bottom: 0.2cm;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table th,
.invoice-table td {
  padding: 0.1cm;
  border: 1px solid Black;
  font-size: 15px;
}

.invoice-payment {
  text-align: left;
  display: grid;
  margin-top: 0.5cm;
  grid-template-columns: 3fr 1fr 1fr 4fr;
  grid-gap: 0.5cm;
}

.col-payment-1 {
  grid-column: 1 / span 3;
  padding: 0.1cm;
  text-align: left;
  align-self: flex-start;
}

.col-payment-2 {
  grid-column: 4;
  display: flex;
  padding: 0.1cm;
  justify-content: space-between;
}

.grand-total {
  text-align: right;
  width: 200px;
}

.amount {
  text-align: right;
}

.invoice-footer {
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-gap: 0.5cm;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

.col3 {
  grid-column: 3;
}

.col4 {
  grid-column: 4;
  text-align: left;
}

@media print {
  @page {
    size: letter;
    margin: 0;
  }

  body {
    margin: 0cm; /* Add margin to avoid content being too close to the edge */
  }

  .invoice {
    page-break-inside: avoid; /* Prevent the invoice from being split across pages */
  }
}
